<%layout("/layouts/boilerplate")%>
<body>

   

<div class="form-container">
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate>
         <h2> Edit Listing</h2>

        <input type="text" name="listing[title]" value="<%= listing.title %>" required>
        <div class="invalid-feedback">Please enter a title</div>

        <textarea name="listing[description]" required><%= listing.description %></textarea>
        <div class="invalid-feedback">Description is required</div>

        <input type="text" name="listing[image][url]" value="<%= listing.image.url %>" required>
        <div class="invalid-feedback">Image URL is required</div>

        <input type="number" name="listing[price]" value="<%= listing.price %>" required>
        <div class="invalid-feedback">Enter a valid price</div>

        <input type="text" name="listing[location]" value="<%= listing.location %>" required>
        <div class="invalid-feedback">Location is required</div>

        <input type="text" name="listing[country]" value="<%= listing.country %>" required>
        <div class="invalid-feedback">Country is required</div>

        <button>Update</button>
    </form>
</div>

<!-- <a href="/listings">⬅ Back</a> -->

</body>
</html>